.transaction {
    margin-left: auto;
    margin-right: auto;
}

tbody tr:nth-child(odd) {
    background-color: #ddcfd9;
}

tbody tr:nth-child(even) {
    background-color: #bcd6c9;
}

.tableHead{
    background-color: rgb(29, 190, 182);
    color: white;
   
}

td {
    width: 350px;
    text-align: center;
}